In [ ]:
import sqlite3

# Create a new SQLite database named roster.db
connection = sqlite3.connect('roster.db')
cursor = connection.cursor()

# Define a table called Roster with the specified schema
cursor.execute('''
CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
''')

# Commit changes and close the connection
connection.commit()
connection.close()

"Database and table created successfully."

In [ ]:
# Reconnect to the database
connection = sqlite3.connect('roster.db')
cursor = connection.cursor()

# Step 1: Insert Data
data = [
    ("Benjamin Sisko", "Human", 40),
    ("Jadzia Dax", "Trill", 300),
    ("Kira Nerys", "Bajoran", 29)
]
cursor.executemany('INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)', data)

# Step 2: Update Data
cursor.execute('UPDATE Roster SET Name = ? WHERE Name = ?', ("Ezri Dax", "Jadzia Dax"))

# Step 3: Query Data
cursor.execute('SELECT Name, Age FROM Roster WHERE Species = "Bajoran"')
bajoran_characters = cursor.fetchall()

# Step 4: Delete Data
cursor.execute('DELETE FROM Roster WHERE Age > 100')

# Step 5: Add a new column "Rank" and update data
cursor.execute('ALTER TABLE Roster ADD COLUMN Rank TEXT')
ranks = [
    ("Captain", "Benjamin Sisko"),
    ("Lieutenant", "Ezri Dax"),
    ("Major", "Kira Nerys")
]
for rank, name in ranks:
    cursor.execute('UPDATE Roster SET Rank = ? WHERE Name = ?', (rank, name))

# Step 6: Advanced Query - Retrieve all characters sorted by Age in descending order
cursor.execute('SELECT * FROM Roster ORDER BY Age DESC')
sorted_characters = cursor.fetchall()

# Commit changes and close the connection
connection.commit()
connection.close()

# Display results
{
    "Bajoran Characters": bajoran_characters,
    "Characters Sorted by Age (Desc)": sorted_characters
}