In [8]:
import sqlite3
import pandas as pd

# 1. Bazaga ulanish
conn = sqlite3.connect('chinook.db')

# 2. SQL so'rovini yozish
query = """
SELECT
    c.FirstName,
    c.LastName,
    COUNT(i.InvoiceId) AS TotalInvoices
FROM
    customers c
INNER JOIN
    invoices i ON c.CustomerId = i.CustomerId
GROUP BY
    c.CustomerId
ORDER BY
    c.LastName, c.FirstName;
"""

# 3. SQL so'rovini bajarish va natijalarni Pandas DataFramega aylantirish
df = pd.read_sql_query(query, conn)

# 4. Natijalarni ekranga chiqarish
print(df)

# 5. Bazaga ulanishni yopish
conn.close()

DatabaseError: Execution failed on sql '
SELECT
    c.FirstName,
    c.LastName,
    COUNT(i.InvoiceId) AS TotalInvoices
FROM
    customers c
INNER JOIN
    invoices i ON c.CustomerId = i.CustomerId
GROUP BY
    c.CustomerId
ORDER BY
    c.LastName, c.FirstName;
': file is not a database